<%- include('components/header') %>
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
        </div>
        <div class="media-content">
          <p class="title is-4"><%= profile.name %></p>
          <p class="subtitle is-6"><%= profile.username %></p>
          <br />
          <p class="title is-5">Flags</p>
          <ul>
            <% for(var i=0; i<profile.flags.length; i++) { %>
                <li>
                    <%= profile.flags[i] %>
                </li>
            <% } %>
          </ul>
          <% if(profile.roblox_id) { %>
            <br />
            <p class="title is-5">Roblox</p>
            <!-- Place logic for editing profile here -->
              <p>Roblox Username: <%= profile.roblox_username %></p>
              <p>Roblox userid: <%= profile.roblox_id %></p>
              <p>Roblox Displayname: <%= profile.roblox_displayname %></p>
            <% } %>
            <% if(profile.discord_id) { %>
              <br />
              <p class="title is-5">Discord</p>
              <!-- Place logic for editing profile here -->
                <p>Discord Username: <%= profile.discord_username %></p>
                <p>Discord userid: <%= profile.discord_id %></p>
                <p>Discord Displayname: <%= profile.discord_displayname %></p>
              <% } %>
        </div>
      </div>
    </div>
    <% if(isRoot){ %>
    <!-- Place logic for editing profile here -->
    <a class="button is-light">Edit Profile</a>
    <% } %>
    <a class="button is-dark" href="/roblox/link">Link Roblox</a>
    <a class="button is-dark" href="/discord/link">Link Discord</a>
  </div>
</div>


<%- include('components/footer') %>