<%- include('../components/header') %>
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
        </div>
        <div class="media-content">
          <input class="input title is-4" type="text" value="<%= profile.name %>">
          <p class="subtitle is-6">Username: <%= profile.username %></p>
          <form method="post" action="/user/<%= profile.username %>/edit">
            <% if(isRoot){ %>
                <label class="label">Flags</label>
                <div class="control">
                    <!-- Place logic for editing profile here -->
                    <input class="input" type="text" name="flags" value="<%= profile.flags.join(',') %>"></input>
                </div>
                <% Object.values(userStuff.sudo_editable).forEach(element => { %>
                 <%- element(profile) %>

                <% }) %>
                
            <% } else { %>
              <% Object.values(userStuff.user_editable).forEach(element => { %>
                <%- element(profile) %>
  
               <% }) %>
               <br />
          <p class="title is-5">Flags</p>
          <ul>
            
            <% for(var i=0; i<profile.flags.length; i++) { %>
                <li>
                    <%= profile.flags[i] %>
                </li>
            <% } %>
          </ul>
            <% } %>
            <label class="label">Actions</label>
            <div class="control">
              <input id="submit-button" value="Update" type="submit" class="button is-link"></input>
              <a class="button" href="/user/<%= profile.username %>">Cancel</a>    
            </div>
            <div class="control">       
            </div>
          </form>
          <br />
          <% if(isRoot){ %>
            <form method="post" action="/user/<%= profile.username %>/delete" onsubmit="return confirm('Do you really want delete the user <%= profile.username %>?')">
              <input id="submit-button" value="Delete" type="submit" class="button is-danger"></input>
              <% if (!profile.disabled) { %>
                <a id="user-disable-button" value="Diable" class="button is-danger" href="/user/<%= profile.username %>/disable">Disable</a>
              <% } else { %>
                <a id="user-enable-button" value="Enable" class="button is-danger"  href="/user/<%= profile.username %>/enable">Enable</a>
              <% } %>
              <a class="button is-link" href="/users/">Back</a>
              
            </form>
            
          <% } %>
        </div>
      </div>
    </div>
    
  </div>
</div>


<%- include('../components/footer') %>