<%- include('../components/header') %>
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
        </div>
        <div class="media-content">
          <p class="title is-4">Users</p>
          <br />
          <table class="table">
            <thead>
                <tr>
                  <th>User</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Flags</th>
                  <th>Disabled</th>
                </tr>
              </thead>
              <tbody>
            <% for(var i=0; i<profiles.length; i++) { %>
                <tr>
                    <!-- <th>
                        <%= profiles[i]._id %> 
                    </th> -->
                    <th>
                        <a href="./user/<%= profiles[i].username %>"><%= profiles[i].username %> </a>
                    </th>
                    <th>
                        <%= profiles[i].name %> 
                    </th>
                    <th>
                        <%= profiles[i].email %> 
                    </th>
                    <th>
                        <%= profiles[i].flags.join(", ") %> 
                    </th>
                    <th>
                        <%= profiles[i].disabled ? profiles[i].disabled + " " + profiles[i].disabledType + (profiles[i].disabledReason ? " " + profiles[i].disabledReason : "") : false %> 
                    </th>
                    <th>
                        
                        <form method="post" action="/user/<%= profiles[i].username %>/delete" onsubmit="return confirm('Do you really want delete the user <%= profiles[i].username %>?')">
                          <a class="button is-light is-small" href="/user/<%= profiles[i].username %>/edit">Edit</a>
                          <input id="submit-button" value="Delete" type="submit" class="button is-danger is-small"></input>
                          <% if (!profiles[i].disabled) { %>
                            <a id="user-disable-button" value="Diable" class="button is-danger is-small" href="/user/<%= profiles[i].username %>/disable">Disable</a>
                          <% } else { %>
                            <a id="user-enable-button" value="Enable" class="button is-danger is-small"  href="/user/<%= profiles[i].username %>/enable">Enable</a>
                          <% } %>
                        </form>
                      </th>
                </tr>
            <% } %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/bundle-signup.js"></script>
<!-- confirm() -->
<%- include('../components/footer') %>