<%- include('../components/header') %>
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
        </div>
        <div class="media-content">
          <p class="title is-4">Gloucestershire Notes</p>
          <br />
          <table class="table">
            <tr>
              <th>Id</th>
              <th>Notee</th>
              <th>Moderator</th>
              <th>Active</th>
              <th>Note</th>
              <th>Date</th>
            </tr>
            <% for(var i=0; i<notes.length; i++) { %>
                <tr>
                    <th>
                        <%= notes[i]._id %> 
                    </th>
                    <th>
                        <a href="./players/<%= notes[i].userid %>"><%= notes[i].name %> </a>
                    </th>
                    <th>
                        <%= notes[i].warner %> 
                    </th>
                    <th>
                        <%= notes[i].active %> 
                    </th>
                    <th>
                        <%= notes[i].reason %> 
                    </th>
                    <th>
                        <%= notes[i].date.toDateString() %> 
                    </th>
                    <th>
                      <button class="button is-danger" onclick="button('DELETE', './notes/<%= notes[i]._id %>')">Delete</button>
                      <% if (notes[i].active) { %>
                        <button class="button is-danger" onclick="button('PUT', './notes/<%= notes[i]._id %>/disable')">Deactive</button>
                      <% } else { %>
                        <button class="button" onclick="button('PUT', './notes/<%= notes[i]._id %>/enable')">Activate</button>
                      <% }  %>
                    </th>
                </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('../components/footer') %>