<%- include('../../components/header') %>
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
        </div>
        <div class="media-content">
          <p class="title is-2">Flags</p>
          <br />
          <div class="container">
            <a class="button is-primary pb-2 mb-2" href="/admin/flags/create">Create flag</a>
          </div>
          <br />
          <table class="table pt-2 mt-2">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Owner</th>
                  <th>Joinable</th>
                  <th>Permissions</th>
                </tr>
              </thead>
              <tbody>
            <% for(var i=0; i<flags.length; i++) { %>
                <tr>
                    <!-- <th>
                        <%= flags[i]._id %> 
                    </th> -->
                    <th>
                        <a href="./user/<%= flags[i].name %>"><%= flags[i].name %> </a>
                    </th>
                    <th>
                        <%= flags[i].description%> 
                    </th>
                    <th>
                        <%= owners[flags[i]._id] %> 
                    </th>
                    <th>
                        <%= flags[i].joinable%> 
                    </th>
                    <th>
                        <%= flags[i].permissions.join(", ") %> 
                    </th>
                    <th>
                        
                        <form method="post" action="/admin/flags/<%= flags[i].name %>/delete" onsubmit="return confirm('Do you really want delete the flag <%= flags[i].name %>?')">
                          <a class="button is-light is-small" href="/admin/flags/<%= flags[i].name %>/edit">Edit</a>
                          <input id="submit-button" value="Delete" type="submit" class="button is-danger is-small"></input>
                        </form>
                      </th>
                </tr>
            <% } %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script src="/js/bundle-signup.js"></script> -->
<!-- confirm() -->
<%- include('../../components/footer') %>